<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Accelerometer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA3650251F6BE83800DA2E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA3650391F6BE83800DA2E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA3650441F6BE83900DA2E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
